* {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  padding-top: 50px;
  font-size: 2em; }
  h1.body-h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    position: relative; }
    h1.body-h1::before {
      content: "Projects";
      color: rgba(0, 0, 0, 0.05);
      font-size: 1.5em;
      position: absolute;
      z-index: 1;
      left: 15vw;
      top: 4vh; }
    h1.body-h1::after {
      content: "";
      height: 3px;
      width: 80px;
      margin-left: 10px;
      top: 80%;
      background-color: #CDA036;
      position: absolute; }

p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  font-size: 0.9em; }

#sidenav-overlay {
  display: none;
  opacity: 0; }

@media (max-width: 992px) {
  .body-h1 {
    display: table !important;
    margin: auto !important; }
    .body-h1::after {
      position: static !important;
      content: "";
      display: block !important;
      margin-top: 5px;
      width: 100% !important;
      height: 3px;
      background: #CDA036;
      margin-left: 0 !important; } }
.owl-carousel-section {
  margin: auto;
  width: 100%;
  margin-top: 100px;
  position: relative;
  background-color: #F0F0F0;
  padding: 0 0 30px 0; }
  .owl-carousel-section h1 {
    margin-left: 10vw;
    font-size: 3em;
    letter-spacing: 0.1em; }
    .owl-carousel-section h1::before {
      content: "Projects";
      color: rgba(0, 0, 0, 0.05);
      font-size: 1.5em;
      position: absolute;
      z-index: 1;
      left: 15vw;
      top: 4vh; }
    .owl-carousel-section h1::after {
      content: "";
      height: 3px;
      width: 80px;
      margin-left: 10px;
      top: 70%;
      background-color: #CDA036;
      position: absolute; }
  .owl-carousel-section .owl-carousel-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 95%;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 992px) {
      .owl-carousel-section .owl-carousel-btn {
        width: 100%; } }
    .owl-carousel-section .owl-carousel-btn i {
      font-size: 2em;
      font-weight: 100;
      cursor: pointer !important;
      transition: all 0.3s; }
      .owl-carousel-section .owl-carousel-btn i:hover {
        transform: scale(1.2); }
    .owl-carousel-section .owl-carousel-btn .nextBtn {
      float: right; }
  .owl-carousel-section .owl-carousel {
    width: 90%;
    margin: auto; }
    @media (max-width: 992px) {
      .owl-carousel-section .owl-carousel {
        width: 90%; } }
    .owl-carousel-section .owl-carousel .owl-stage-outer {
      height: 100%;
      padding: 40px 0; }
    .owl-carousel-section .owl-carousel .owl-carousel-div {
      margin: auto;
      width: 90%;
      height: 70%;
      color: #fff;
      border-radius: 30px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.2);
      border: 1px solid lightgrey; }
      @media (max-width: 992px) {
        .owl-carousel-section .owl-carousel .owl-carousel-div {
          width: 95%;
          box-shadow: none; } }
      @media (min-width: 1300px) and (max-width: 2000px) {
        .owl-carousel-section .owl-carousel .owl-carousel-div {
          width: 80%; } }
      .owl-carousel-section .owl-carousel .owl-carousel-div .background-image {
        position: relative;
        height: 250px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
        .owl-carousel-section .owl-carousel .owl-carousel-div .background-image h5 {
          font-family: "Oswald", sans-serif;
          font-weight: 400;
          position: absolute;
          bottom: 0;
          color: #fff;
          margin: 10px;
          background-color: rgba(0, 0, 0, 0.4); }
        .owl-carousel-section .owl-carousel .owl-carousel-div .background-image.deniz-istanbul {
          background-image: url("../assets/images/carousel/deniz-istanbul/deniz-istanbul.jpg"); }
        .owl-carousel-section .owl-carousel .owl-carousel-div .background-image.bursa-modern {
          background-image: url("../assets/images/carousel/bursa-modern/bursa-modern.jpg"); }
        .owl-carousel-section .owl-carousel .owl-carousel-div .background-image.strada {
          background-image: url("../assets/images/carousel/strada/strada.jpg"); }
        .owl-carousel-section .owl-carousel .owl-carousel-div .background-image.cayan-100 {
          background-image: url("../assets/images/carousel/cayan-100/cayan-100.jpg"); }
        .owl-carousel-section .owl-carousel .owl-carousel-div .background-image.cayan-124 {
          background-image: url("../assets/images/carousel/cayan-124/cayan-124.jpg"); }
        .owl-carousel-section .owl-carousel .owl-carousel-div .background-image.cayan-107 {
          background-image: url("../assets/images/carousel/cayan-107/cayan-107.jpg"); }
      .owl-carousel-section .owl-carousel .owl-carousel-div .description {
        padding: 20px 10px 0 10px;
        margin-bottom: 0;
        color: #5D5D5D; }
        .owl-carousel-section .owl-carousel .owl-carousel-div .description h6 {
          font-weight: 500;
          font-size: 0.9em;
          color: black; }
        .owl-carousel-section .owl-carousel .owl-carousel-div .description h5 {
          font-family: "Oswald", sans-serif;
          font-weight: 600;
          font-size: 1.3em;
          color: #CDA036;
          margin: 0; }
        .owl-carousel-section .owl-carousel .owl-carousel-div .description p {
          font-size: 0.7em;
          font-weight: 400;
          margin: 10px 5px; }
          @media (min-width: 1400px) and (max-width: 2000px) {
            .owl-carousel-section .owl-carousel .owl-carousel-div .description p {
              font-size: 0.8em; } }
      .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons {
        margin-top: 10px;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey; }
        .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .left-icons, .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .right-icons {
          width: 50%;
          padding: 5px; }
          .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .left-icons.left-icons, .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .right-icons.left-icons {
            border-right: 1px solid lightgrey; }
          .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .left-icons img, .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .right-icons img {
            width: 18px;
            height: auto;
            display: inline;
            transform: translateY(5px); }
          .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .left-icons p, .owl-carousel-section .owl-carousel .owl-carousel-div .owl-carousel-icons .right-icons p {
            display: inline;
            font-size: 0.7em;
            font-weight: 400; }
      .owl-carousel-section .owl-carousel .owl-carousel-div .button-div {
        text-align: center; }
        .owl-carousel-section .owl-carousel .owl-carousel-div .button-div button {
          background-color: #1D1D1D;
          border-radius: 20px;
          font-weight: 400;
          font-size: 0.7em;
          cursor: pointer;
          transition: all 0.3s; }
          .owl-carousel-section .owl-carousel .owl-carousel-div .button-div button:hover {
            background-color: rgba(0, 0, 0, 0.8); }
  .owl-carousel-section .view-all-projects {
    text-align: center; }
    .owl-carousel-section .view-all-projects a button {
      margin: auto;
      background-color: #1D1D1D;
      font-weight: 400;
      border-radius: 20px;
      transition: all 0.3s; }
      .owl-carousel-section .view-all-projects a button:hover {
        background-color: rgba(0, 0, 0, 0.8); }

@media (max-width: 992px) {
  .owl-carousel-section h1 {
    margin: auto !important;
    display: table !important; }
    .owl-carousel-section h1::before {
      display: none !important; } }

/*# sourceMappingURL=owl-carousel.css.map */
